body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card-group {
  margin: 0;
  padding: 0;
}
body {
  background: hsl(210, 36%, 96%);
}

.card {
  border-radius: 5rem;
  padding: 0;
  background: white;
  transition: 0.4s ease-out;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s linear, transform 0.15s ease-out;
  height: auto;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14),
  0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
}

h4 {
  border-radius: 3px;
  justify-content: center;
}

button {
  margin: 15px 15px;
}

.icon{
  margin-right: 10px;
  color:orange;
}

.content-img{
  width: 30rem;
  height: 100%;
  box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.2);
}
